<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta name="verification" content="51637e2c33412a9cf59d541158636d04" />
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Luxysale - All Designer Sales from 200+ retailers</title>
    <meta name="Description" content="All the latest designer sales from top luxury retailers on one website. Shop now!"/>
    <meta name="Keywords" content="bags on sale,clothes on sale,clothes sale,designer bags on sale,designer clearance,designer clothes outlet,designer dresses on sale,designer handbags on sale,designer handbags outlet,designer online outlet,designer outlet,designer outlet online,designer outlet online uk,designer purses on sale,designer sale,designer sale sites,designer sale website,designer shoes on sale,discount clothing,discount designer clothes,discount designer dresses,discount designer handbags,handbags on sale,handbags on sale online,leather handbags on sale,purses on sale,shoes for women on sale,shoes on sale,women shoes on sale,designer sale,designer sale,designer outlet,designer outlet,designer outlet online"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f04c7f">
    <meta name="theme-color" content="#f04c7f">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYz4mfpIlVCLIi6eYUA6Tu5R3o8PIzi8Q&libraries=places"></script>
  </head>
  <body>
    <div id="container"></div>

    <script src="<%= bundle %>"></script>
    <%_ if (!debug && config.trackingID) { _%>
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','<%= config.trackingID %>','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    <%_ } _%>
  </body>
</html>
